.title, .btn, .hero__title, .slider-item__name, .help-item__name, .donate-content__subtitle, .footer-item__title {
  font-family: Georgia, serif;
  font-weight: 400; }

.logo__subtitle, .nav-menu__link, .hero__text, .about-content__text {
  font-family: 'Arial';
  font-weight: 400; }

.donate-content__text {
  font-family: 'Arial';
  font-weight: 400;
  font-style: italic; }

.donate-content__card p, .footer-contacts {
  font-family: 'Times New Roman';
  font-weight: 400; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: inherit; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit; }

body {
  min-height: 320px;
  position: relative;
  overflow-x: hidden;
  color: #000;
  margin: 0; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%; }

.logo {
  display: inline-block; }
  .logo__title {
    color: #f1cdb3;
    font-family: Georgia;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 1.13px;
    padding-bottom: 8px; }
  .logo__subtitle {
    color: #ffffff;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 1.3px; }

.title {
  color: #545454;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 2.1px; }

.btn {
  margin-top: 25px;
  margin-bottom: 25px;
  display: inline-block;
  padding: 18px 45px 21px;
  border-radius: 26px;
  background-color: #f1cdb3;
  color: #292929;
  font-size: 17px;
  letter-spacing: 1px;
  transition: background-color 0.3s; }
  .btn:hover {
    background-color: #ffffff;
    border: 1px solid #f1cdb3;
    color: #545454;
    padding: 17px 44px 20px; }
  .btn-light {
    width: 192px;
    display: block;
    border: 1px solid #f1cdb3;
    background-color: #fafafa; }
    .btn-light:hover {
      background-color: #f1cdb3;
      box-shadow: none;
      color: #545454;
      padding: 18px 45px 21px; }
  .btn-big {
    width: 267px;
    margin: 0 auto;
    display: block;
    margin-top: 25px; }

.header {
  padding: 60px 0;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%; }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.nav {
  width: 50%;
  background-color: transparent; }
  .nav.active {
    display: block; }
  .nav-menu {
    display: flex;
    justify-content: space-between; }
  .nav-menu__link {
    position: relative;
    color: #cdcdcd;
    font-size: 15px;
    transition: all 0.3s linear; }
    .nav-menu__link:hover {
      color: #fff; }
      .nav-menu__link:hover::after {
        opacity: 1; }
    .nav-menu__link::after {
      opacity: 0;
      position: absolute;
      content: "";
      height: 3px;
      width: 100%;
      background-color: #f1cdb3;
      bottom: -5px;
      left: 0;
      transition: all 0.3s linear; }
  .nav a {
    display: block; }

.nav-toggle {
  width: 30px;
  padding: 10px 0;
  position: absolute;
  font-size: 0;
  color: transparent;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  top: 24px;
  right: 24px;
  z-index: 1; }
  .nav-toggle:focus {
    outline: 0; }
  .nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transition: background .2s linear; }
  .nav-toggle.active .nav-toggle__item {
    background: none; }
  .nav-toggle.active .nav-toggle__item::before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -3px, 0); }
  .nav-toggle.active .nav-toggle__item::after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0); }
  .nav-toggle__item::after, .nav-toggle__item::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background: #fff;
    z-index: 1;
    left: 0;
    transition: transform .2s linear; }
  .nav-toggle__item::after {
    bottom: -8px; }
  .nav-toggle__item::before {
    top: -8px; }

.hero {
  padding-top: 173px;
  background-image: url(../../images/bg/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .hero__info {
    width: 100%;
    max-width: 445px;
    padding-bottom: 270px; }
  .hero__title {
    padding-top: 190px;
    color: #ffffff;
    font-size: 45px;
    line-height: 1.3;
    letter-spacing: 2.64px;
    text-align: start; }
  .hero__text {
    color: #cdcdcd;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px; }

.about {
  padding: 90px 0;
  background-color: #fafafa; }
  .about-wrapper {
    display: flex;
    justify-content: center; }
  .about-img {
    display: block;
    margin-right: 30px;
    width: auto; }
  .about-content {
    max-width: 415px;
    padding: 0 30px; }
  .about-title {
    text-align: start;
    padding-top: 25px;
    padding-bottom: 15px; }
  .about-content__text {
    color: #4c4c4c;
    font-size: 15px;
    line-height: 1.3; }

.slider {
  background-color: #f6f6f6;
  padding-bottom: 70px; }
  .slider-title {
    text-align: center;
    padding-top: 78px;
    padding-bottom: 66px; }
  .slider-items {
    display: flex;
    justify-content: center;
    padding-bottom: 40px; }
  .slider-item__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
    transition: box-shadow 0.5s; }
    .slider-item__box:hover {
      box-shadow: 0 2px 30px 5px rgba(13, 13, 13, 0.04); }
  .slider-item__img {
    display: block; }
  .slider-item__name {
    color: #545454;
    font-size: 20px;
    text-align: center;
    line-height: 2.1;
    letter-spacing: 1.2px; }
  .slider-btn {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #f1cdb3;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.5s;
    cursor: pointer;
    outline: none; }
    .slider-btn:hover {
      background-color: #f1cdb3; }
  .slider-btn--prev {
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../../images/min-img/right-arrow.png); }
  .slider-btn--next {
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../../images/min-img/left-arrow.png); }

.slider-wrap {
  width: 270px;
  background-color: #fafafa;
  margin: 25px auto; }

.help {
  background-color: #fafafa;
  padding-bottom: 50px; }
  .help-title {
    text-align: center;
    padding-top: 72px;
    margin-bottom: 50px; }
  .help-inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .help-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .help-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 5px;
    width: 180px; }
  .help-item__name {
    color: #545454;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .help-item__img {
    display: block;
    margin-bottom: 30px; }
  .help-box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }

.donate {
  background-color: #f6f6f6;
  padding-top: 70px;
  padding-bottom: 60px; }
  .donate-wrapper {
    display: flex; }
  .donate-title {
    margin-bottom: 30px; }
  .donate-img {
    padding: 20px; }
    .donate-img img {
      display: block; }
  .donate-content {
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 20px; }
  .donate-content__subtitle {
    max-width: 312px;
    color: #545454;
    font-family: Georgia;
    font-size: 15px;
    letter-spacing: 0.9px;
    margin-bottom: 13px; }
  .donate-content__card {
    position: relative;
    width: 321px;
    border-radius: 9px;
    background-color: #f1cdb3;
    padding: 17px 15px 17px 57px;
    margin-bottom: 33px; }
    .donate-content__card ::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 24px;
      top: 15px;
      left: 15px;
      background-image: url(../../images/min-img/card.png);
      background-size: cover;
      background-repeat: no-repeat; }
    .donate-content__card p {
      color: #292929;
      font-size: 20px;
      letter-spacing: 1.2px; }
  .donate-content__text {
    max-width: 350px;
    color: #b2b2b2;
    font-size: 12px;
    line-height: 1.5; }

.footer {
  background-image: url(../../images/bg/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 60px; }
  .footer-wrapper {
    max-width: 800px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around; }
  .footer-item__title {
    padding-top: 0;
    max-width: 290px;
    color: #ffffff;
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: 2.1px;
    margin-bottom: 20px; }
  .footer-contacts {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 293px;
    color: #f1cdb3;
    font-size: 20px;
    letter-spacing: 1.2px; }
  .footer-contacts__item {
    position: relative;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px; }
    .footer-contacts__item::before {
      content: "";
      position: absolute;
      height: 36px;
      width: 26px;
      background-image: url(../../images/min-img/pin.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      top: 0;
      left: 0; }
  .footer-contacts__item--email {
    padding-left: 70px;
    margin-bottom: 30px; }
    .footer-contacts__item--email::before {
      width: 40px;
      height: 26px;
      top: 10px;
      background-image: url(../../images/min-img/envelope.png); }
  .footer-contacts__item--phone {
    padding-left: 70px; }
    .footer-contacts__item--phone::before {
      width: 40px;
      height: 26px;
      top: 10px;
      background-image: url(../../images/min-img/telephone.png); }

@media (max-width: 1200px) {
  .hero__info {
    padding-bottom: 230px; }
  .hero__title {
    padding-top: 155px;
    font-size: 40px; }
  .hero__text {
    font-size: 14px; } }

@media (max-width: 992px) {
  .hero__info {
    padding-bottom: 200px; }
  .hero__title {
    padding-top: 130px; }
    .hero__title .hero__text {
      font-size: 14px; } }

@media (max-width: 880px) {
  .container--mob {
    padding: 0; }
  .header {
    padding: 5px 0; }
  .header-wrapper {
    display: block; }
  .logo {
    padding-left: 15px; }
  .logo__title {
    font-size: 25px; }
  .logo__subtitle {
    font-size: 11px; }
  .hero {
    background-position-x: 53%; }
  .hero__info {
    max-width: 60%; }
  .hero__title {
    font-size: 30px;
    padding-top: 75px; }
  .hero__text {
    font-size: 12px; }
  .nav {
    width: 100%;
    display: none; }
  .nav-menu {
    flex-direction: column;
    text-align: end;
    padding: 0 0 15px 0;
    background: black; }
  .nav-menu__link {
    color: #fff;
    padding: 16px 15px 14px 15px;
    font-size: 16px; }
    .nav-menu__link::after {
      opacity: 1; }
  .nav-toggle {
    display: block; } }

@media (max-width: 480px) {
  .hero {
    background-position-x: 63%; }
  .hero__info {
    max-width: 100%;
    text-align: center;
    padding-bottom: 150px; }
  .hero__title {
    text-align: center;
    padding-top: 70px; }
  .hero__text {
    color: #fff;
    margin-bottom: 20px; } }
