.hero {  
  position: relative;
  padding-top: 173px;
  background-image: url(../../images/bg/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  

  &__info {
    width: 100%;
    max-width: 445px;
    padding-bottom:270px;
  }
  &__title {
    padding-top: 190px;
    color: #ffffff;
    @extend %gr-regular;
    font-size: 45px;
    line-height: 1.3;
    letter-spacing: 2.64px;
    text-align: start;  

  }
  &__text {
    color: #cdcdcd;
    @extend %ar-regular;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

