.nav {
  max-width: 460px;
  width: 100%;
  background-color: transparent;
  &-menu {
    display: flex;
    justify-content: space-between;
  }
  &-menu__link {
    position: relative;
    color: #cdcdcd;
    @extend %ar-regular;
    font-size: 15px;
    transition: all 0.3s linear;
    &:hover {
      color: #fff;

      &::after {
        opacity: 1;
      }
    }
    &::after {
      opacity: 0;
      position: absolute;
      content: "";
      height: 3px;
      width: 100%;
      background-color: $color-mod;
      bottom: -5px;
      left: 0;
      transition: all 0.3s linear;
    }
  }
  & a {
    display: inline-block;
  }
}
