.slider {
  background-color: #f6f6f6;
  padding-bottom: 70px;
  &-title {
    text-align: center;
    padding-top: 78px;
    padding-bottom: 66px;
  }
  &-items {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  &-item__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
    transition: box-shadow 0.5s;
    &:hover {
      box-shadow: 0 2px 20px 5px rgba(13, 13, 13, 0.04);
    }
  }

  &-item__img {
    display: block;
  }
  &-item__name {
    color: #545454;
    @extend %gr-regular;
    font-size: 20px;
    text-align: center;
    line-height: 2.1;
    letter-spacing: 1.2px;
  }
  &-btn {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #f1cdb3;
    // background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.5s;

    outline: none;
    &:hover {
      background-color: #f1cdb3;
    }
  }
  &-btn--prev {
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../../images/min-img/right-arrow.png);

  }
  &-btn--next {
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../../images/min-img/left-arrow.png);
  }
}

.slider-wrap {
  width: 270px;
  background-color: #fafafa;
  margin: 25px auto;
}
