%gr-regular {
    font-family: Georgia, serif;
    font-weight: 400;
}
%ar-regular {
    font-family: 'Arial';
    font-weight: 400;
}
%ar-italic {
    font-family: 'Arial';
    font-weight: 400;
    font-style: italic;
}
%tnm-regular {
    font-family: 'Times New Roman';
    font-weight: 400;
}


$color-mod: #f1cdb3;

